<%- include('partials/header.ejs') %>
<div class="container">
  <div class="d-flex flex-row gap-4">
    <div class="d-flex flex-column gap-4" style="width: 30%;">
      <div class="border-bottom" style="height: 60px; font-size: 2.5rem; margin-top: 20px;">
        Profile
      </div>
      <div style="font-size: 1rem;">
        <p><b>User Id:</b> <%= locals.user.id %> </p>
        <br>
        <p><b>Name:</b> <%= locals.user.fname + ' ' + locals.user.lname %> </p>
        <br>
        <p><b>Email:</b> <%= locals.user.email %> </p>
      </div>
      <div class="navhomeButton-logout" style="width: 10%">
        <a href="/logout" class="navhomeButton-logout-mod">Log Out</a>
      </div>
    </div>
    <div class="d-flex flex-column gap-4" style="width: 70%;">
      <div class="d-flex flex-row justify-content-between align-items-center border-bottom" style="margin-top: 20px;">
        <div class="" style="height: 50px; margin: 5px 0; font-size: 2.5rem;">
          My Blogs
        </div>
        <div class="navhomeButton">
          <a href="/create" class="navhomeButton-mod">Create Blog</a>
        </div>
      </div>
      <% if (locals.allBlogs.length > 0) { %>
      <div class="overflow-auto" style="height: 450px;">
        <ul class="list-unstyled">
          <% locals.allBlogs.forEach((rows) => { %>
          <li>
            <div class="border-bottom">
              <div class="d-flex flex-column flex-lg-row gap-5 align-items-start align-items-lg-center link-body-emphasis text-decoration-none">
                <div class="col-lg-8">
                  <h6 class="mb-0" id="blogBodyTittle"> <%= rows.title %></h6>
                  <h1 class="text-body-secondary" id="blogBodyDate"><%= rows.formatted_date %></h1>
                </div>
              </div>
              <div class="d-flex flex-row justify-between gap-3 buttonsMargin">
                <button class="btn btn-outline-info <%# rounded-pill %> blogButtons blogViewButton" type="button" id="<%=rows.id%>">View</button>
                <button class="btn btn-outline-warning <%# rounded-pill %> blogButtons blogEditButton" type="button" id="<%=rows.id%>">Edit</button>
                <button class="btn btn-outline-danger <%# rounded-pill %> blogButtons blogDeleteButton" type="button" id="<%=rows.id%>">Delete</button>
              </div>
          </li>
          <% }); %>
        </ul>
      </div>
      <% } else { %>
      <div class="container" style="height: 330px;">
        <h3 id="noBlogs">Create an article</h3>
      </div>
      <% } %>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="scripts/view.js" charset="utf-8"></script>
<script src="scripts/edit.js" charset="utf-8"></script>
<script src="scripts/delete.js" charset="utf-8"></script>
</body>

</html>