<%- include('partials/header.ejs') %>
<view>
  <div class="container">
    <article id="viewArticle">
      <div style="padding-top: 12px; padding-bottom: 12px;">
        <div class="d-flex flex-column gap-2 align-items-start justify-content-center">
          <h2 class="display-5 link-body-emphasis" id="viewBlogTittle"><%= blog.title %></h2>
          <p class="blog-post-meta" id="viewBlogDateName">
            <div class="d-flex flex-row align-items-start justify-content-between gap-3">
              <div>
                <b>Date</b>: <%= blog.formatted_date %>
              </div>
              <div>
                <b>By</b>: <%= blog.name %>
              </div>
            </div>
          </p>
          <div class="quill-width">
            <div id="quill-container" style="text-align: justify;">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</view>
<style>
  .ql-editor.ql-blank {
    padding: 10px auto !important;
  }
  .quill-width {
    height: 100%;
    width: 100%;
  }
</style>
<%- include('partials/quill.ejs') %>
<script>
  var quill = new Quill('#quill-container', {
    theme: 'snow',
    readOnly: true,
    modules: {
      syntax: true,
      toolbar: false
    }
  });
  quill.root.innerHTML = `<%- blog.body %>`;
</script>
<%- include('partials/nologofooter.ejs') %>